CSCE313.pem
.vscode

/PA0/a.out
/PA0/*.PNG
/PA0/*.gdoc

/PA1/*.vscode
/PA1/.vscode/*
/PA1/a.out
/PA1/*.gdoc
/PA1/*.o
/PA1/memtest
/PA1/_htaccess
/PA1/*.zip

/PA2/*.vscode
/PA2/.vscode/*

/PA3/*.vscode
/PA3/.vscode/*

/PA4/*.vscode
/PA4/.vscode/*
/PA4/BIMDC/mybin